<h1>Local Flower Shops</h1>

<div class="container-sm  mx-auto mb-5">
  <% @flower_shops.each do |flower_shop| %>
    <div class="my-4" id="flower_shop-<%= flower_shop.id %>">
      <h3><a href="/flower_shops/<%= flower_shop.id %>"><%= flower_shop.name %> </a></h3>
      <p>Established: <%= flower_shop.created_at %></p>
      <%= button_to 'Edit', "/flower_shops/#{flower_shop.id}/edit", method: :get %>
      <%= button_to 'Delete Shop', "/flower_shops/#{flower_shop.id}", method: :delete %>
    </div>
  <% end %>
  <%= button_to 'New Flower Shop',  "/flower_shops/new", method: :get %>
</div>
