<h1>All Available Plots</h1>

<div class="container-sm  mx-auto mb-5">
  <div class="row row-cols-3">
    <% @plots.each do |plot| %>
      <div class="col mt-4 mb-4" id="plot-<%= plot.id %>">
        <h3><a href="/plots/<%= plot.id %>"><%= plot.name %></a></h3>
        <p>Location: <a href="/gardens/<%= plot.garden_id %>"><%= plot.garden_name %></a></p>
        <p>Sun coverage: <%= plot.sun_coverage_text %></p>
        <p>Total area: <%= plot.square_ft %>ft<%= "\u00B2" %></p>
        <%= button_to 'Edit', "/plots/#{plot.id}/edit", method: :get %><br/>
        <%= button_to 'Delete plot', "/plots/#{plot.id}", method: :delete %>
      </div>
    <% end %>
  </div><br/>
</div>
