<h1><%= @plot.name %></h1>

<p>Currently available? <%= @plot.available_text %></p>
<p>Sun coverage: <%= @plot.sun_coverage_text %></p>
<p>Total area: <%= @plot.square_ft %>ft<sup>2</sup></p>

<ul>
  <li>Plot added: <%= @plot.created_at %></li>
  <li>Last update:  <%= @plot.updated_at %></li>
</ul>
