<h1><%= @flower.species %></h1>

<div class="container-sm  mx-auto mb-5">
  <p>Shelf Life: <%= @flower.shelf_life %> Days</p>
  <p>In Stock: <%= @flower.in_stock %></p>
  <%= button_to 'Edit', "/flowers/#{@flower.id}/edit", method: :get %><br/>
  <%= button_to 'Delete Flower', "/flowers/#{@flower.id}", method: :delete %>
</div>
