<h1>Our Community Gardens</h1>

<% @gardens.each do |garden| %>
  <div id="garden-<%= garden.id %>">
    <aside><%= garden.created_at %></aside>
    <h3><a href="/gardens/<%= garden.id %>"><%= garden.name %></a></h3>
    <%= button_to 'Edit', "/gardens/#{garden.id}/edit", method: :get %>
    <%= button_to 'Delete', "/gardens/#{garden.id}", method: :delete %>
  </div>
<% end %>

<%= button_to 'New garden',  "/gardens/new", method: :get %>
