<h1>Our Community Gardens</h1>

<% @gardens.each do |garden| %>
  <div id="garden-<%= garden.id %>">
    <aside><%= garden.created_at %></aside>
    <h3><a href="/gardens/<%= garden.id %>"><%= garden.name %></a></h3>
  </div>
<% end %>

<%= link_to 'Create new garden',  '/artists/new' %>
